html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 400;
  background: #f2f2f2;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  speak: none;
}

html * {
  overflow: hidden;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.center-horz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.paralax {
  background-attachment: fixed;
}

.text {
  background-color: white;
  padding: 3rem;
}

.parallax {
  background-attachment: fixed;
}

.btn {
  padding: 0.4rem 1rem;
  color: white;
  font-size: 0.9rem;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  outline: none;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 50rem;
  line-height: 1.4rem;
}

.purple {
  background: linear-gradient(45deg, #fd81b5 0%, #c961f7 50%, #8089ff 100%);
}

.red {
  background: linear-gradient(45deg, #fe60a1 0%, #ff8765 100%);
}

.green {
  background: linear-gradient(45deg, #19d9b4 0%, #92d275 100%);
}

.blue {
  background: linear-gradient(45deg, #8089ff 0%, #54ceff 100%);
}

.slideshow-component {
  margin-bottom: -0.4rem;
}

.scroll-continue {
  position: absolute;
  bottom: 1rem;
  text-align: center;
  font-size: 4rem;
  width: 100%;
  color: white;
  text-shadow: 0px 2px 4px black;
}

.scroll-continue i {
  cursor: pointer;
  color: white;
}

.scroll-continue i:hover {
  text-shadow: 0 6px 4px rgba(0, 0, 0, 0.65);
}

.slide-image {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar-menu {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar-menu .navbar-item {
  text-align: right;
  color: black;
  border-bottom: 4px solid transparent;
}

.navbar-menu .navbar-item:hover {
  background: transparent;
  border-bottom: 4px solid #01d1b2;
}

.brand {
  text-align: left;
  color: black;
  text-decoration: none;
}

.title {
  font-size: 3rem;
}

.subtitle {
  font-size: 1.5rem;
}

.icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-list i {
  margin-right: 0.5rem;
}

#test {
  color: #fff;
  margin: auto;
  padding: 3rem;
}

#about {
  background-image: url("/images/lawn-green.png");
  background-position: center center;
}

#about a {
  border-bottom: 1px solid;
}

#services {
  background-image: url("/images/drone-red.png");
}

#services a {
  border-bottom: 1px solid;
}

#lawnmowing {
  background-image: url("/images/lawnmower-green.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

#services {
  background-image: url("/images/drone-red.png");
}

#services a {
  border-bottom: 1px solid;
}

#mulch {
  background-image: url("/images/mulch.jpg");
}

#springfall {
  background-image: url("/images/leavesongrass.jpg");
}

#snowremoval {
  background-image: url("/images/snowfootprint.jpg");
}

.hero-body {
  font-size: 1.25em;
  letter-spacing: 0.01rem;
  line-height: 2rem;
}

.small-sect {
  max-width: 600px;
}

#contact h1 {
  line-height: 4rem;
  margin-bottom: 2rem;
}

#contact label {
  color: white;
}

